nav a {
    color: white;
    opacity: 1;
    transition: opacity 0.3s ease;
    text-transform: none;
}

nav a:hover {
   opacity: 0.5;
   color: white;
   text-transform: none;
   text-decoration: none;
}

nav a.active {
    color: grey;    
}

nav .nav-item a {
    margin: 0 20px;
}